@{
    ViewBag.Title = "Home";
}
<div class="row" id="top-row">
    <div class="col-md-12"><h1 id="coming-soon">Coming Soon</h1></div>
</div>
<br><br>
<div class="row" id="bottom-row">
    <div class="col-md-12"><a href="https://wou.instructure.com/courses/18686/assignments/268822?module_item_id=934643#somewhere" class="link-button">Learn More</a></div>
</div>
<input type="text" id="actorSearch" placeholder="Search for an actor...">
<div id="suggestions"></div>
<div id="shows"></div>


